<maincontent>
	<positionscreen></positionscreen>
	<historyscreen></historyscreen>
	<tourscreen></tourscreen>
	<settingsscreen></settingsscreen>

	<script>
  	export default {
			riot.mount("positionscreen, historyscreen, tourscreen, settingsscreen");
		}
	</script>

</maincontent>
