<popuppanel>
	<div if={ is_showPopup } class="glass">
		<raw/>
	</div>

	<script>
  	export default {
			var that = this;

			app.on("openPopup", function(con) {
				riot.mount("raw");
				that.is_showPopup = true;
				app.trigger("setRawContent", con);
				that.update();
			})

			app.on("closePopup", function(con) {
				that.is_showPopup = false;
				that.update();
			})
		}
	</script>
</popuppanel>
