<titlebar>

	<div class="bar bar-nav">
		<h1 class="title">{ title }</h1>
	</div>

	<script>
		export default {

			this.title = opts.title;
			if (!this.title || this.title == "") this.title = "ShoMe Locations";

			var that = this;
			app.on('updateTitle', function(newTitle) {
				that.title = newTitle;
				that.update();
			});
		}
	</script>

</titlebar>
